fieldset {
    border: ridge;
    border-style: ridge;
    float: left;
    width: 200px;
    height: 450px;
}

input {
    box-sizing: border-box;
    border: 1px solid #333;
    display: inline;
}

input:focus {
    background-color: #ffe;
}

form {
    text-align: left;
    padding: 0;
    margin-left: 0%;
    text-indent: 0%;
}

ol {
    list-style-type: none;
    display: inline;
    padding: 0;
    margin: 0;
}

ol li {
    clear: both;
    margin: 0 0 10px 0;
    padding: 0;
    display: inline;
}

label {
    float: left;
    width: 150px;
}